* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Cera Pro Medium";
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
.about{
    margin-left: 5rem;
    margin-right: 5rem;
}
.title-centered{
    text-align: center;
    margin-top: 5%;
}
.section-dark{
    background-color: #2A2D34;
    color: #fcfcfc;
}
p::selection,h1::selection,h2::selection,h3::selection,h4::selection,h5::selection,h6::selection,b::selection,span::selection,a::selection {
    background-color: #2A2D34;
    color: white;
}
img::selection{
    background-color: white;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Fonts */
@font-face {
    src: url("../Fonts/TaxiDriver.ttf");
    font-family: "Taxi Driver";
}
@font-face {
    src: url("../Fonts/Cera\ Pro\ Medium.otf");
    font-family: "Cera Pro Medium";
}
/* Page Scroll*/
body::-webkit-scrollbar{
    width: 9px;
    background-color: #2A2D34;
}

body::-webkit-scrollbar-track {
  margin-top: 5rem;
  background: hsl(0, 0%, 90%);
}

body::-webkit-scrollbar-thumb {
  background-color: #2A2D34;
}

/* Responsiveness */
@media (max-width: 500px) {
    .about{
        margin: 0.2rem 1rem 0 1rem;

    }
}
  @media (max-width: 830px) {
    .about{
        margin: 1.5rem 1.4rem 0 1.4rem;
    }
}