.footer{
    background-color: #2A2D34;
    color: #fcfcfc;
    padding: 1% 0 1% 0;
}
.footer-content{
    display: flex;
    align-items: center;
    margin: 0 10% 0 10%;
}
.owner{
    width: 50%;
    font-size: 1.3rem;
    margin-left: 2%;
}
.social-media{
    width: 50%;
    text-align: right;
}
.footer-icon{
    width: 2.75rem;
    margin: 0 2% 0 2%;
    cursor: pointer;
}
.footer-icon:active {
  opacity: 0.4;
  transform: translateY(6px);
}
/* Media Queries */
@media (max-width: 600px) {
    .footer-content{
        display: block;
        text-align: center;
    }
    .social-media{
        margin-top: 5%;
        text-align: center;
    }
}
@media (max-width: 500px) {
    .footer-content{
        display: block;
        text-align: center;
        margin-top: 3%;
    }
    .owner,.social-media{
        width: 100%;
    }
    .social-media{
        margin-top: 5%;
        text-align: center;
    }
}