.footer{
    background-color: #2A2D34;
    color: #fcfcfc;
    padding-bottom: 1%;
}
.footer-content{
    display: flex;
    align-items: center;
    margin: 0 10% 0 10%;
    padding-top: 1%;
    border-top: 1px solid rgb(181, 179, 179);
}
.owner{
    width: 50%;
    font-size: 1.3rem;
    margin-left: 2%;
}
.social-media{
    width: 50%;
    text-align: right;
}
.footer-icon{
    width: 44px;
    margin: 0 2% 0 2%;
    cursor: pointer;
}
.footer-icon:active {
  opacity: 0.4;
  transform: translateY(6px);
}
@media (max-width: 600px) {
    .footer-content{
        display: block;
        text-align: center;
    }
    .owner{
        width: 100%;
    }
    .social-media{
        width: 100%;
        margin-top: 5%;
        text-align: center;
    }
}
@media (max-width: 500px) {
    .footer{
        padding-bottom: 20%;
    }
    .footer-content{
        display: block;
        text-align: center;
    }
    .owner{
        width: 100%;
    }
    .social-media{
        width: 100%;
        margin-top: 5%;
        text-align: center;
    }
}