header {
    position: fixed;
    width: 100%;
    z-index: 1;
    font-size: 1rem;
    transition: all 0.4s ease-out;
}
.max-header {
    background-color: #2A2D34;
    height: 6.25rem;
}
.min-header {
    background-color: #2A2D34;
    height: 5rem;
}
.container {
    max-width: 75rem;
    height: 100%;
    margin: 0 auto;
    padding: 0 50px;
    display: grid;
    grid-template-areas:
        "lgo ... nav";
    grid-template-columns: auto 1fr auto;
    align-content: center;
}
.max-logo h1 {
    width: 360px;
    border-left: #2574a9 solid 11px;
    padding-left: 10px;
    font-family: "Taxi Driver";
    color: #fcfcfc;
    padding-top: 5px;
    font-size: 2rem;
}
.min-logo h1 {
    width: 320px;
    border-left: #2574a9 solid 7px;
    padding-left: 8px;
    font-family: "Taxi Driver";
    color: #fcfcfc;
    padding-top: 5px;
    font-size: 1.6rem;
}
.title-name{
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid transparent;
}
.typing-animation{
    animation: typing 2s 0s normal;
}
@keyframes typing{
    from{
        width: 0;
    }
    to{
        width: 340px;
    }
}
.nav-bar {
    grid-area: nav;
    display: grid;
    align-content: center;
}
.nav-bar ul {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 1.25rem;
}
.nav-bar a {
    position: relative;
    font-family: "Cera Pro Medium";
    text-transform: uppercase;
    transition: all 0.4s ease-out;
}
.nav-bar a::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: currentColor;
    transform-origin: left;
    transform: scaleX(0);
    transition: all 0.2s ease-out;
}
.nav-bar a:hover::before {
    transform: scaleX(1);
}
.nav-bar a::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: currentColor;
    transform-origin: right;
    transform: scaleX(0);
    transition: all 0.2s ease-out;
}
.nav-bar a:hover::after {
    transform: scaleX(1);
}
.max-nav a {
    font-size: 1em;
    color: #fcfcfc;
}
.min-nav a {
    font-size: 0.875em;
    color: #fcfcfc;
}
.ghost {
    width: 100%;
    height: 100px;
    background-color: #fcfcfc;
}
@media (max-width: 768px) {
    
    .max-header {
        height: 80px;
    }
    .min-header {
        height: 60px;
    }
    .container {
        position: relative;
        padding: 0 20px;
        grid-template-areas:
            "lgo ... mnu";
    }
    .max-logo h1 {
        width: 260px;
        font-size: 1.5rem;
    }
    .min-logo h1 {
        width: 220px;
        font-size: 1.2rem;
    }
    .menu {
        grid-area: mnu;
        display: grid;
        align-content: center;
    }
    .hamburger {
        position: relative;
        width: 28px;
        height: 3px;
        transition: all 0.4s ease-out;
    }
    .hamburger::before {
        content: "";
        position: absolute;
        top: -8px;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all 0.4s ease-out;
    }
    .hamburger::after {
        content: "";
        position: absolute;
        top: 8px;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all 0.4s ease-out;
    }
    .max-hamburger, .max-hamburger::before, .max-hamburger::after {
        background-color: #fcfcfc;
    }
    .min-hamburger, .min-hamburger::before, .min-hamburger::after {
        background-color: #fcfcfc;
    }
    .close-btn {
        width: 32px;
        transform: rotateZ(45deg);
    }
    .close-btn::before, .close-btn::after {
        top: 0;
        transform: rotateZ(90deg);
    }
    .nav-bar {
        position: absolute;
        left: 0;
        width: 100%;
        background-color: #fcfcfc;
        transform: translateX(-100%);
        transition: all 0.4s ease-out;
    }
    .max-nav {
        top: 80px;
        height: calc(100vh - 80px);
    }
    .min-nav {
        top: 60px;
        height: calc(100vh - 60px);
    }
    .menu-opened {
        transform: translateX(0);
    }
    .nav-bar ul {
        justify-content: center;
        grid-auto-flow: row;
        grid-gap: 80px;
    }
    .nav-bar li {
        text-align: center;
    }
    .min-nav a {
        font-size: 1em;
        color: #2A2D34;

    }
    .max-nav a {
        font-size: 1em;
        color: #2A2D34;

    }
    .typing-animation{
        animation: typing 2s 0s normal;
    }
    @keyframes typing{
        from{
            width: 0;
        }
        to{
            width: 300px;
        }
    }
}