.recomendation{
    margin-top: 3%;
    background-color: #2A2D34;
    color: #fcfcfc;
}
.recomendation-title {
    font-size: 2.5rem;
    padding-top: 4%;
    text-align: center;
}
.recomendation-img{
    width: 60px;
    border-radius: 60px;
}
.recomendation-link{
    color: inherit; 
}
.recomendation-boxes{
    display: flex;
    margin: 5% 10% 0 10%;
    padding-bottom: 5%;
    align-items: center;
}
.main-recomendation{
    width: 100%;
    margin: 0 10% 0 10%;
}
.recomendation-title-box{
    display: flex;
    align-items: center;
}
.recomendation-name{
    width: 180px;
    margin-left: 5%;
    font-size: 1.6rem;
}
.recomendation-text{
    margin-top: 2%;
    height: 100px;
    font-size: 1.4rem;
    text-align: justify;
}
.control-buttons{
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.control-buttons:active {
    opacity: 0.4;
    transform: translateY(6px);
  }
@media (max-width: 700px) {
    .recomendation-text{
        height: 200px;
    }
}
@media (max-width: 500px) {
    .recomendation{
        padding-bottom: 10%;
    }
    .recomendation-text{
        height: 280px;
        margin-top: 12%;
        text-align: center;
    }
    .recomendation-boxes{
        margin: 11% 3% 0 3%;
    }
}
@media (max-width: 400px) {
    .control-buttons{
        width: 30px;
        height: 30px;
    }
    .recomendation-boxes{
        margin: 11% 0 0 0;
    }
}